name: generate-snake-game-from-github-contribution-grid

on:
  # Tự động chạy mỗi 24h
  schedule:
    - cron: "0 0 * * *" 
  
  # Cho phép chạy thủ công bất cứ lúc nào
  workflow_dispatch:
  
  # Chạy mỗi khi push code lên main
  push:
    branches:
    - main
    
jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      # Bước 1: Vẽ con rắn ra file svg
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#F75C7E&color_dots=#21262d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      # Bước 2: Đẩy file ảnh vừa vẽ vào nhánh 'output'
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
